@{
    ViewData["Title"] = "Home Page";
}

<h1>Welkom bij Wat Eten We</h1>

<ul>
    <li><a asp-controller="ShoppingList" asp-action="Create">Nieuwe boodschappenlijst aanmaken</a></li>
    <li><a asp-controller="ShoppingList" asp-action="AllShoppingLists">Bekijk bestaande lijsten</a></li>
</ul>

